:root {
  --fonte: 'Montserrat', sans-serif;
  --primary-color: #FFFFFF;
  --secundary-color: #000000;
  --terciary-color: #E2E2E2;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
